<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YKBirthdayViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7152F8531DF6A96C003F79E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7152F86C1DF6A96C003F79E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7152F8771DF6A96C003F79E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
